<footer class="footer">
  <div class="footer-container">
    <div class="footer-section about">
      <a routerLink="/" class="footer-logo">
        <img src="assets/images/logo.png" alt="SNINFRA Logo" class="logo-img">
      </a>
      <p>SNINFRA is a leading construction company specializing in house planning, architectural design, construction services, interior design, and quality building solutions for residential and commercial projects.</p>
      <div class="social-links">
        <a href="https://wa.me/919589899949" target="_blank" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        <a href="https://wa.me/919589899949" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.instagram.com/sn_infra.in?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram"><i class="fab fa-twitter"></i></a>
        <!-- Add more social media links as needed -->
      </div>
    </div>

    <div class="footer-section links">
      <h3>Quick Links</h3>
      <ul>
        <!-- <li><a routerLink="/Home">Home</a></li> -->
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <!-- <li><a href="#">Privacy Policy</a></li> -->
      </ul>
    </div>

    <div class="footer-section services">
      <h3>Services</h3>
      <ul>
        <li><a routerLink="/services">House Planning</a></li>
        <li><a routerLink="/services">Architectural Design</a></li>
        <li><a routerLink="/services">Interior Design</a></li>
        <li><a routerLink="/services">With Material Construction</a></li>
        <li><a routerLink="/services">Colony Development</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3>Contact Info</h3>
      <p><i class="fas fa-map-marker-alt"></i> 507, Oman plaza, AB-Road Indore, MP, India</p>
      <p>
          <i class="fas fa-envelope"></i> 
            Email : <a href="navdeeppunasiya@gmail.com"> sninfra&#64;gmail.com</a>
      </p>
      <p><i class="fas fa-phone"></i>  Phone : +91 9589899949</p>
      <p><i class="fas fa-clock"></i>  Office Hours: Mon - Fri : 9 AM - 5 PM</p>
    </div>

    <!-- <div class="footer-section newsletter">
      <h3>Enter your email address</h3>
      <p>Subscribe to our newsletter for the latest updates.</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Your Email" required>
        <button type="submit">Subscribe</button>
      </form>
    </div> -->
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} All Rights Reserved. Your Trusted Construction Partner.</p>
  </div>
</footer>
