<section class="projects-hero">
  <div class="container">
    <h1>Our Projects</h1>
    <p>Showcasing our legacy of construction excellence.</p>
  </div>
</section>

<section class="projects-filter section-padding">
  <div class="container">
    <div class="filter-buttons">
      <button *ngFor="let category of categories" 
              [class.active]="selectedCategory === category"
              (click)="filterProjects(category)"
              class="btn btn-filter">
        {{ category }}
      </button>
    </div>

    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of filteredProjects">
        <img [src]="project.image" [alt]="project.title" class="project-image">
        <div class="project-info">
          <h3>{{ project.title }}</h3>
          <p class="project-location"><i class="fas fa-map-marker-alt"></i> {{ project.location }}</p>
          <!-- <p class="project-category">Category: {{ project.category }}</p> -->
          <p class="project-plot">Plot Size : {{ project.plot }}</p>
          <p class="project-description">{{ project.description }}</p>
          <button class="btn btn-primary">View Details</button>
        </div>
      </div>
    </div>

    <div *ngIf="filteredProjects.length === 0" class="no-projects-message">
      <p>No projects found for the selected category.</p>
    </div>
  </div>
</section>
